node_modules/
.pnpm-store/
.npm/
.venv/
dist/
build/
.out/

models/
*.pkl
*.keras
*.h5
*.pt

.next/
.nuxt/
.svelte-kit/

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
!.env.example

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
*.swo

.cache/
.parcel-cache/
.postcss-cache/

vite.svg

*.tsbuildinfo

coverage/

*.local
